<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
  <meta charset="UTF-8">
  <title>Book</title>
</head>
<body>
<div class="container">
  <h1 align="center">Book</h1>
  <div align="center" th:if="${message}">
    <strong style="color: green" th:text="${message}"></strong>
  </div>
  <a class="btn btn-outline-dark" th:href="@{/history}">
    Borrowed books
  </a>

  <form action="" method="get">
    <input name="searchTitle" placeholder="Enter the title to search">
    <button>Search</button>
  </form>
  <table class="table table-hover">
    <tr th:if="${books.isEmpty()}">
      <td colspan="8">Empty list </td>
    </tr>
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Amount</th>
      <th>Borrow</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="b,loop : ${books}">
      <td th:text="${loop.count}"></td>
      <td th:text="${b.getName()}"></td>
      <td th:text="${b.getAmount()}"></td>
      <td><a class="btn btn-outline-dark" th:href="@{/library/{bookId}/detail(bookId=${b.getId()})}">Borrow</a></td>
    </tr>
    </tbody>
  </table>
</div>
<a th:if="${books.hasPrevious()}" th:href="@{/book(page=${books.number-1},searchTitle=${searchTitle})}">Previous</a>
<span th:text="${blogPage.number+1}"></span>/<span th:text="${books.totalPages}"></span>
<a th:if="${book.hasNext()}" th:href="@{/book(page=${blogPage.number+1},searchTitle=${searchTitle})}">Next</a>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>