<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<div class="container">
    <h1 align="center">User</h1>
    <div align="center" th:if="${message}">
        <strong style="color: green" th:text="${message}"></strong>
    </div>
    <a class="btn btn-outline-dark" th:href="@{/user/create}">
        Create user
    </a>

    <form action="" method="get">
        <table class="table table-hover">
            <tr th:if="${user.isEmpty()}">
                <td colspan="8">Empty list</td>
            </tr>
            <thead>
            <tr>
                <th>#</th>
                <th>First name</th>
                <th>Last name</th>
                <th>Age</th>
                <th>Phone</th>
                <th>Email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user,loop : ${user}">
                <td th:text="${loop.count}"></td>
                <td th:text="${user.getFirstName()}"></td>
                <td th:text="${user.getLastName()}"></td>
                <td th:text="${user.getAge()}"></td>
                <td th:text="${user.getPhone()}"></td>
                <td th:text="${user.getEmail()}"></td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>