<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
    <title>Create product</title>
</head>
<body>
<div class="container-fluid">
    <h1>Create Product</h1>
    <a class="btn btn-outline-dark" th:href="@{/product}">
        Back to product list
    </a>
    <form th:action="@{/product/save}" th:object="${product}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>

        <table>
            <tr>
                <th>
                    <label for="name">Name</label>
                </th>

                <td>
                    <input required type="text" id="name" th:field="*{name}"/>
                </td>
            </tr>

            <tr>
                <th>
                    <label for="price">Price</label>
                </th>

                <td>
                    <input required type="number" id="price" th:field="*{price}"/>
                </td>
            </tr>

            <tr>
                <th>
                    <label for="brand">Brand</label>
                </th>

                <td>
                    <input required type="text" id="brand" th:field="*{brand}"/>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="btn btn-outline-primary" type="submit" value="Confirm"/>
                </td>
            </tr>
        </table>
    </form>
</div>
</body>
</html>