<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
<div class="container">
    <h1 align="center">Product List</h1>
    <div align="center" th:if="${message}">
        <strong style="color: green" th:text="${message}"></strong>
    </div>
    <a class="btn btn-outline-dark" th:href="@{/product/create}">
        Add new product
    </a>
    <form action="/product/search" method="get" novalidate="novalidate">
        <input class="text-input" type="text" required placeholder="Enter the name to search" name="name" th:value="${name}">
        <input class="btn btn-outline-primary" type="submit" value="Confirm"/>
    </form>
    <table class="table table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Name</th>
            <th>Price</th>
            <th>Brand</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="p,loop : ${product}">
            <td th:text="${loop.count}"></td>
            <td th:text="${p.getName()}"></td>
            <td th:text="${p.getPrice()}"></td>
            <td th:text="${p.getBrand()}"></td>
            <td><a class="btn btn-outline-dark" th:href="@{/product/{id}/edit(id=${p.getId()})}">Edit</a></td>
            <td><a class="btn btn-outline-dark" th:href="@{/product/{id}/delete(id=${p.getId()})}">Delete</a></td>
            <td><a class="btn btn-outline-dark" th:href="@{/product/{id}/detail(id=${p.getId()})}">Detail</a></td>
        </tr>
        </tbody>
    </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>