<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
  <meta charset="UTF-8">
  <title>Product</title>
</head>
<body>
<div class="container">
  <h1 align="center">View Search</h1>
  <a class="btn btn-outline-dark" th:href="@{/product}">
    Back to product list
  </a>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Price</th>
      <th>Brand</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p,loop : ${product}">
      <td th:text="${loop.count}"></td>
      <td th:text="${p.getName()}"></td>
      <td th:text="${p.getPrice()}"></td>
      <td th:text="${p.getBrand()}"></td>
    </tr>
    </tbody>
  </table>
</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>