<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<div class="container">
    <h1 align="center">Blog</h1>
    <div align="center" th:if="${message}">
        <strong style="color: green" th:text="${message}"></strong>
    </div>
    <a class="btn btn-outline-dark" th:href="@{/blog/create}">
        Blogging
    </a>

    <form action="/blog/search" method="get" novalidate="novalidate">
        <input class="text-input" type="text" required placeholder="Enter the name to search" name="name"
               th:value="${name}">
        <input class="btn btn-outline-primary" type="submit" value="Confirm"/>
    </form>
    <table class="table table-hover">
        <tr th:if="${blog.isEmpty()}">
            <td colspan="8">Danh sách trống</td>
        </tr>
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Name author</th>
            <th>Date of writing</th>
            <th>Edit</th>
            <th>Delete</th>
            <th>View</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="b,loop : ${blog}">
            <td th:text="${loop.count}"></td>
            <td th:text="${b.getTitle()}"></td>
            <td th:text="${b.getNameAuthor()}"></td>
            <td th:text="${b.getDateBlog()}"></td>
            <td><a class="btn btn-outline-dark" th:href="@{/blog/{id}/update(id=${b.getIdBlog()})}">Edit</a></td>
            <td><a class="btn btn-outline-dark" th:href="@{/blog/__${b.getIdBlog()}__/delete}">Delete</a></td>
            <td><a class="btn btn-outline-dark" th:href="@{/blog/{id}/detail(id=${b.getIdBlog()})}">Detail</a></td>
        </tr>
        </tbody>
    </table>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>