<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="/layout :: head">
  <title>Blogging</title>
</head>
<body>
<div class="container-fluid">
  <h1>Blogging</h1>
  <a class="btn btn-outline-dark" th:href="@{/category}">
    Back to category
  </a>
  <form th:action="@{/category/confirm-update}" th:object="${category}"
        method="POST" novalidate="novalidate ">
    <input type="hidden" th:field="*{idCategory}"/>
    <table>
      <tr>
        <th>
          <label for="title">Name category</label>
        </th>

        <td>
          <input required type="text" id="title" th:field="*{nameCategory}"/>
        </td>
      </tr>
      <tr>
        <td>
          <input class="btn btn-outline-primary" type="submit" value="Confirm"/>
        </td>
      </tr>
    </table>
  </form>
</div>
</body>
</html>